#side-nav {
    position: fixed;
    top: 0;
    padding: 10px;
    width: 230px;
    left: 100px;
}

#side-nav ul {
    list-style: none;
}

#page-title {
    margin: 10px 0 20px;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}

#page-title h2, #page-title h3, #page-title h4 {
    color: rgba(110, 190, 255, 1);
    font-weight: normal;
}

#student-info {
    padding-left: 0;
}

#section-list {
    padding-left: 0;
}

#section-list li a {
    display: block;
    line-height: 30px;
    transition: all 0.2s;
    padding-left: 10px;
    color: rgba(100, 100, 100, 1);
}

#section-list li a:hover {
    border-left: 2px solid rgba(110, 190, 255, 0.7);
    color: rgba(110, 190, 255, 0.7);
}

#section-list li a:active, #section-list li a.active {
    border-left: 2px solid rgba(110, 190, 255, 1);
    color: rgba(110, 190, 255, 1);
}

#section-list li a.active {
    background-color: rgba(110, 190, 255, 0.1);
}

#sidebar-footer {
    padding-top: 5px;
    border-top: 1px solid rgba(230, 230, 230, 1);
}

#download-section {
    margin: 10px;
}

#download-button {
    
}
